.verde{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: green;
}

.rojo{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: red;
}
.azul{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: blue;
}